{% if request.user.is_authenticated %}
        <form action="/like/" method="post"> {% csrf_token %}
     {% if is_liked %}
        <button type="submit" id="like" name="post_id" value="{{ post.id }}" class="btn btn-primary"><i class="fas fa-thumbs-up fa-lg"></i></button>
     {% else %}
        <button type="submit" id="like" name="post_id" value="{{ post.id }}" class="btn btn-outline-primary"><i class="far fa-thumbs-up fa-lg"></i></button>
     {% endif %}
     </form>
    {% else %}
        <br><a href="/login/"><button type="submit" name="post_id"  class="btn btn-outline-primary"><i class="far fa-thumbs-up fa-lg"></i></button></a>
{% endif %}